.modal-dialog {
  max-width: 500px !important; 
}

.modal-container {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 30px 25px;
  width: 700px;      
  max-width: 95%; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

/* Imagen superior compacta */
.confirma-correo {
  width: 40%;          
  top: -5%;
}

/* Labels más compactos */
.modal-container label {
  display: block;
  margin-top: 8px;    
  font-size: 14px;
  color: #333;
}

/* Inputs más pequeños verticalmente */
.modal-container .form-select,
.modal-container .form-control {
  font-size: 13px;
  height: 30px;        
  padding: 3px 8px;
}

/* Textarea también más pequeño */
.modal-container textarea {
  height: 60px;
  font-size: 13px;
}

/* Fila horizontal */
.campo-horizontal {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Select dentro de una fila */
.select-horizontal {
  width: 65%;         
  min-width: 130px;
}

.necesidad {
  width: 60%;
  height: auto;
  object-fit: contain;
  display: block;
  position: absolute;
  top: -4%;
  right: 0;       
  margin-left: 0;  
  z-index: 1;
}

.form-label {
    margin-top: .5em;
}

.form-select {
    margin-top: .5em;
}

.link-categorias{
  font-size: 14px;
}

/* Hacer la ventana más ancha */
.swal-wide {
  width: 650px !important;
  padding: 25px !important;
}

/* Imagen pequeña */
.swal-img-small {
  width: 90px !important;
  height: auto !important;
  margin-bottom: 10px;
}

/* Título pequeño y tipografía parecida */
.swal-title-small {
  font-size: 22px;
  font-weight: bold;
  color: #23395d;
  text-shadow: 1px 1px 1px rgb(150, 150, 150);
}

/* Texto reducido */
.swal-text-small {
  font-size: 14px;
  text-align: justify;
  margin: 10px 20px;
  line-height: 1.4;
}

/* Separar el botón del texto */
.swal-btn-space {
  margin-top: 15px !important;
}

