<app-navbar></app-navbar>

<div class="fondoLogin">
    <img src="assets/Fondo.png" class="bg-img" alt="">
    <div class="card card-necesidades">
        <img src="assets/Necesidades.png" class="card-img-top" alt="necesidades">

        <div class="card-body">
            <p class="card-text">
                Puedes ver el total de apoyos<br>
                que han recibido las necesidades <br>
                dando <span class="clic-aqui" (click)="verNecesidades()">clic aquí</span>
            </p>
        </div>
    </div>


    <form [formGroup]="formularioLogin">

        <div class="card card-inicio-sesion">
            <img src="assets/Sesion.png" class="card-img-top" alt="otra">

            <div class="card-body">
                <div class="mb-3">
                    <input type="email" class="form-control email-input" placeholder="Correo electrónico"
                        formControlName="correo_electronico">
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control pass-input" placeholder="Contraseña"
                        formControlName="password">
                </div>
            </div>


            <div class="col-6">
                <ng-hcaptcha siteKey="296ccb74-b9f8-4f7a-8f8e-8eaed73a0c14" 
                    (verify)="onVerify($event)"
                    (expired)="onExpired($event)"
                    (error)="onError($event)">
                </ng-hcaptcha>
            </div>

            <div class="botones-centrados">
                <button class="btn-ingresar" type="submit" (click)="ingresar()" [disabled]="!captchaValido">
                    Ingresar
                </button>
                <button class="btn-registrarme" type="button" (click)="registrarme()">Registrarme</button>
            </div>
        </div>

    </form>




</div>


<!-- MODAL -->
<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-container">
        <img src="assets/NuevoUsu.png" class="avisos" alt="otra">

        <form [formGroup]="formulario" (ngSubmit)="guardarDatos()">

            <label for="nombre">Nombre Completo</label>
            <input id="nombre" formControlName="nombre" type="text" maxlength="300"
                placeholder="Nombre Apellido Apellido">

            <label for="email">Correo electrónico</label>
            <input id="email" formControlName="email" type="email" maxlength="250" placeholder="correo@dominio.com">

            <label for="password">Contraseña</label>
            <input id="password" formControlName="password" type="password" maxlength="300" placeholder="contraseña">

            <label for="repassword">Vuelve a escribir la contraseña</label>
            <input id="repassword" formControlName="repassword" type="password" placeholder="contraseña">


            <div class="checkbox-container">
                <input type="checkbox" id="privacidad" formControlName="privacidad">
                <label for="privacidad">Acepto el <span class="link-privacidad">Aviso de privacidad</span></label>
            </div>

            <hr>

            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <button class="btn-aceptar" type="submit" [disabled]="formulario.invalid">Registrarme</button>
                    </div>
                    <div class="col-6">
                        <button class="btn-cancelar" type="button" (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>