#modalAvisoRecuerda {
  z-index: 3000 !important;
}

#modalAvisoRecuerda .modal-dialog {
  z-index: 3001 !important;
}

#modalAvisoRecuerda .modal-content {
  z-index: 3002 !important;
}

/* TU DISEÑO */
.modal-container {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 60px 25px 30px 25px;
  width: 700px;      
  max-width: 95%; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

/* IMAGEN */
.aviso-importante {
  width: 180px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4000 !important;
}
