<app-navbar></app-navbar>
<app-aviso-home></app-aviso-home>


@if(showModal){
<app-nueva-necesidad [isOpen]="showModal" (close)="closeModal()">
</app-nueva-necesidad>
}

@if(showModalSumate){
<app-sumate-necesidad [isOpen2]="showModalSumate" (close)="closeModalSumate()">
</app-sumate-necesidad>
}

<div class="fondo">

    <img src="assets/Home.png" class="bg-img" alt="">

    <div class="seccion-opciones">
        
        <div class="header-bar">
            <button class="menu-btn" (click)="toggleMenu()">
                ☰
            </button>

            <div class="menu-lateral" *ngIf="menuAbierto">
                <label class="menu-item">Estadisticas generales</label>
                <label class="menu-item">Necesidades registradas</label>                
                <label class="menu-item">Ciudadanos registrados</label>
                <label class="menu-item">Colonias con necesidades registradas</label>
            </div>

            
            <div class="linea-vertical"></div>

            <div class="contenido-central">
                <div class="imagen-container text-center">
                    <img src="assets/NuevaNecesidad.png" class="boton-imagen" (click)="openModal()">
                </div>
                <div class="formulario-grid">
                    <div class="form-col">
                        <div class="mb-3">
                            <label class="form-label">Título de la necesidad</label>
                            <input type="text" class="form-control input-transparente" formControlName="titulo">
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <label class="form-label me-3">Unidad Territorial</label>
                            <select class="form-select input-transparente" formControlName="ut">
                                <option value="">Seleccione una opción</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-col">
                        <div class="mb-3 d-flex align-items-center">
                            <label class="form-label me-3">Alcaldía</label>
                            <select class="form-select input-transparente" formControlName="alcaldia">
                                <option value="">Seleccione una opción</option>
                            </select>
                        </div>

                        <div class="text-end mt-4">
                            <button type="button" class="btn-aceptar">
                                Continuar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linea-vertical"></div>
        </div>
    </div>



    <!-- CONTENEDOR DE BANNERS -->
    <div class="banner-wrapper">

        <!-- BANNER 1 -->
        <section id="banner1" class="banner-oscuro" [ngClass]="{ 'active': currentBanner === 1 }">

            <!-- SOLO BOTÓN DERECHA -->
            <button class="btn-banner btn-next" *ngIf="currentBanner === 1" (click)="nextBanner()">
                &#9654;
            </button>

            <div class="banner-inner">

                <div class="panel panel-left">
                    <div class="panel-content">
                        <h4>Izquierda 1</h4>
                        <p>Texto breve o mini-card del banner 1.</p>
                    </div>
                </div>

                <div class="panel panel-center">
                    <div class="panel-content video-wrapper"></div>
                </div>

                <div class="panel panel-right">
                    <div class="panel-content">
                        <h4>Derecha 1</h4>
                        <p>Más contenido del banner 1.</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- BANNER 2 -->
        <section id="banner2" class="banner-oscuro" [ngClass]="{ 'active': currentBanner === 2 }">

            <!-- SOLO BOTÓN IZQUIERDA -->
            <button class="btn-banner btn-prev" *ngIf="currentBanner === 2" (click)="prevBanner()">
                &#9664;
            </button>

            <div class="banner-inner">

                <div class="panel panel-left">
                    <div class="panel-content">
                        <h4>Izquierda 2</h4>
                        <p>Contenido alterno del banner 2.</p>
                    </div>
                </div>

                <div class="panel panel-center2">
                    <div class="panel-content video-wrapper"></div>
                </div>

                <div class="panel panel-center2">
                    <div class="panel-content video-wrapper"></div>
                </div>

                <div class="panel panel-right">
                    <div class="panel-content">
                        <h4>Derecha 2</h4>
                        <p>Más contenido para banner 2.</p>
                    </div>
                </div>

            </div>
        </section>

    </div>

</div>