<app-navbar></app-navbar>
<app-aviso-home></app-aviso-home>

<img src="assets/Home.png" class="bg-img" alt="">

<div class="container text-center seccion-opciones">
  <div class="row">

    <div class="col-2 d-flex justify-content-center align-items-center">
      <button class="menu-btn" (click)="toggleMenu()">☰</button>
    </div>

    <div class="col-8">
      <form [formGroup]="formularioNewNed!">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <label class="form-label">Título de la necesidad</label>
              <input type="text"
                     class="form-control input-transparente"
                     formControlName="titulo">
            </div>

            <div class="col">
                <label class="form-label me-3">Alcaldía</label>
                <select 
                    class="form-select flex-grow-1 input-transparente"
                    formControlName="alcaldiar"
                    (change)="onChangeAlcaldia($event)">
                    <option value="" selected>Seleccione una opción</option>
                    @for (item of catalogoAlcaldia; track item) {
                    <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                    }
                </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label class="card-title form-label col-2">Categoría</label>
                <select class="form-select input-transparente flex-grow-1" formControlName="catUno"
                    (change)="onChangeCat($event)">
                    <option value="" selected>Seleccione una opción</option>
                    @for (item of primerCAt; track item) {
                    <option [value]="item.id">{{item.primera_categoria}}</option>
                    }
                </select>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
              <button type="button"
                      (click)="openModal()"
                      class="mt-4 btn-aceptar">
                Continuar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-2"></div>
  </div>
</div>

<div class="fondo">
  <div class="banner-wrapper">
    <section class="banner-oscuro active">
      <div class="banner-inner">

        <div class="card col-9 col-md-9 mx-auto padding-cards">
          <div class="card-body">

            <form [formGroup]="formularioRegistro!">

              <!-- FILTROS -->
              <div class="row g-3 filtros-row">

                <div class="col-md-6 d-flex align-items-center">
                  <label class="card-title col-2">Unidad Territorial</label>
                  <select class="form-select"
                          formControlName="ut"
                          (change)="onChangeUT($event)">
                    <option value="">Seleccione una opción</option>
                    @for (item of catalogoUT; track item) {
                      <option [value]="item.id">
                        {{ item.unidad_territorial }}
                      </option>
                    }
                  </select>
                </div>

                <div class="col-md-6 d-flex align-items-center">
                  <label class="card-title col-2">Palabra Clave</label>
                  <input class="form-control"
                         placeholder="Buscar..."
                         (input)="filtrarPorPalabra($event)">
                </div>
              </div>

              <br>

              <div class="row g-3 filtros-row">

                <div class="col-md-6 d-flex align-items-center">
                  <label class="card-title col-2">Categoría</label>
                  <select class="form-select"
                          formControlName="catUno"
                          (change)="onChangeCat($event)">
                    <option value="">Seleccione una opción</option>
                    @for (item of primerCAt; track item) {
                      <option [value]="item.id">
                        {{ item.primera_categoria }}
                      </option>
                    }
                  </select>
                </div>

                <div class="col-md-4 d-flex align-items-center">
                  <label class="card-title col-3">Ordenar por</label>
                  <select formControlName="ordenar"
                          class="form-control"
                          (change)="ordenarVotos($event)">
                    <option [ngValue]="null">Selecciona</option>
                    <option [ngValue]="1">Más apoyos</option>
                    <option [ngValue]="2">Más recientes</option>
                    <option [ngValue]="3">A - Z</option>
                  </select>
                </div>

                <div class="col-md-2 d-flex align-items-center">
                  <button type="button"
                          class="btn-aceptar"
                          (click)="limpiarFiltros()">
                    Limpiar
                  </button>
                </div>
              </div>

              <div class="table-container mt-4">
                <table class="table tabla-necesidades">
                  <thead>
                    <tr>
                      <th>Título</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>Apoyos</th>
                      <th>Apoyar</th>
                      <th>Compartir</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of paginatedData">
                      <td>{{ item.titulo_necesidad }}</td>
                      <td>{{ item.descripcion_necesidad }}</td>
                      <td>{{ item.categoria }}</td>
                      <td>{{ item.total_votos }}</td>

                      <td class="apoyar-btn">
                        <button *ngIf="tipo_usuario === 1"
                                class="btn-votar-pulse"
                                (click)="votar(item.id_necesidad)">
                          +
                        </button>
                      </td>

                      <td class="col-compartir position-relative">
                        <button class="btn-share"
                                (click)="toggleShare(item.id_necesidad)">
                          🔗
                        </button>

                        <div class="share-bar"
                             *ngIf="shareOpen === item.id_necesidad"
                             (click)="$event.stopPropagation()">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="overlay"
     *ngIf="menuAbierto"
     (click)="toggleMenu()">
</div>

<div class="menu-lateral"
     [class.open]="menuAbierto">

  <div class="menu-header">
    <button class="close-btn" (click)="toggleMenu()">☰</button>
    <span class="menu-title">Estadísticas generales</span>
  </div>

  <div class="chart-panel">
    <div class="chart-wrapper">
      <canvas id="chartNecesidades"></canvas>
    </div>
  </div>
</div>

@if(showModalSumate){
  <app-sumate-necesidad
    [isOpen2]="showModalSumate"
    (close)="closeModalSumate()">
  </app-sumate-necesidad>
}

@if (mostrarFrame) {
  <div class="video-overlay" (click)="cerrarFrame()">
    <div class="video-wrapper" (click)="$event.stopPropagation()">
      <iframe
        [src]="videoUrl"
        allowfullscreen>
      </iframe>
    </div>
  </div>
}

@if(showModal2){
  <app-registro2
    [isOpen]="showModal2"
    [formulario]="formularioNewNed"
    [segundaCat]="segundaCat"
    [catalogoUT]="catalogoUT"
    (closeFormulario)="cerrarFormulario()">
  </app-registro2>
}
